<%- include('../partials/header') %>

    <p>Please first ensure that the Performer is not in the dropdown
        <select>
            <% tickets.forEach(function(p) { %>
                <option>
                    <%= p.seat %>
                </option>
                <% }) %>
        </select>
    </p>
    <form id="add-ticket" action="/tickets" method="POST">
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <br>
        <label>Price:</label>
        <input type="number" name="price" min="0">
        <br>
        <!-- <label>Flight</label> -->
        <input type="submit" value="Add Performer">
    </form>

    <%- include('../partials/footer') %>