<!DOCTYPE html>
<html>

<head>
  <title>Chuck Norris Jokes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
  <h1 class="jumbotron text-center">Chuck Norris Jokes</h1>
  <form action="/" method="GET">
    <div class="input-group">
      <label>Choose a Category:</label>
      <select name="categories" id="cat">
        <option value="animal">Animal</option>
        <option value="career">Career</option>
        <option value="celebrity">Celebrity</option>
        <option value="dev">Dev</option>
        <option value="explicit">Explicit</option>
        <option value="fasion">Fasion</option>
        <option value="food">Food</option>
        <option value="history">History</option>
        <option value="money">Money</option>
        <option value="movie">Movie</option>
        <option value="music">Music</option>
        <option value="political">Political</option>
        <option value="religion">Religion</option>
        <option value="science">Science</option>
        <option value="sport">Sport</option>
        <option value="travel">Travel</option>
      </select>
      <br><br>
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Tell A Joke About Chuck :P!</button>
      </span>
    </div>
  </form>
  <div class="row col-xs-8 col-xs-offset-2">
    <% if (userData) { %>
      <div class="panel-body">
        <h3>Joke:</h3>
        <div class="list-group">
          <h3 class="text-center text-info">
            <%=userData.value.value%>
          </h3>
        </div>
      </div>
      <% } %>
  </div>
</body>

</html>